/* 全局样式*/
body{color: #444; }
a{ text-decoration: none; color: #666;}
.pull-left{ float: left;}
.pull-right{ float: right;}
.clear:after {
	display: block;
	content: '';
	clear: both;
}
.clear {
	zoom: 1;
}


.icon-small{font-size:14px;}
.margin{ margin:0.3rem 0;}

/*兼容Ios*/
/*.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
margin-top: 0;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
height: 44px;
}
.platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs{ top:44px;}
.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
top: 94px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
margin-top: 0;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
height: 44px;
}*/
/* header和footer样式*/
.bar.bar-main {
    border-color: #F26224;
    background-color: #EB500A;
    background-image: linear-gradient(0deg, #EB500A, #EB500A 50%, transparent 50%);
    color: #fff; }
.bar.bar-main .title {
      color: #fff; }
.bar.bar-main.bar-footer {
      background-image: linear-gradient(180deg, #EB500A, #EB500A 50%, transparent 50%); }
.tabs-main > .tabs, .tabs.tabs-main {
  border-color: #F26224;
  background-color: #EB500A;
  background-image: linear-gradient(0deg, #EB500A, #EB500A 50%, transparent 50%);
  color: #fff; }
  .tabs-main > .tabs .tab-item .badge, .tabs.tabs-main .tab-item .badge {
    background-color: #fff;
    color: #EB500A; }
 .tab-item .icon{ font-size: 29px;}
.tabs-icon-top > .tabs .tab-item{ line-height:10px; }
/* end header和footer样式*/

/*初始化加载按钮颜色*/
.scroll-refresher .ionic-refresher-content, .scroll-infinite .ionic-infinite-content {
	color: #EB500A;
	font-size: 14px !important;
}

.spinner-android {
	stroke: #EB500A;
}
/*end 初始化加载按钮颜色*/
/*login.html*/

@keyframes logo{
	100%{
		transform:translateY(0px);
		opacity: 1;

	}
}

@-webkit-keyframes logo{
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;

	}
}

@-moz-keyframes logo{
	100%{
		-moz-transform:translateY(0px);
		opacity: 1;

	}
}
@-o-keyframes logo{
	100%{
		-o-transform:translateY(0px);
		opacity: 1;

	}
}

@-ms-keyframes logo{
	100%{
		-ms-transform:translateY(0px);
		opacity: 1;

	}
}

@keyframes logoForm{

	100%{
		transform:translateY(0px);
		transform: scale(1);
		opacity: 1;
	}

}
@-webkit-keyframes logoForm{

	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}

}
@-moz-keyframes logoForm{

	100%{
		-moz-transform:translateY(0px);
		transform: scale(1);
		opacity: 1;
	}

}

@-o-keyframes logoForm{

	100%{
		-o-transform:translateY(0px);
		opacity: 1;
	}

}
@-ms-keyframes logoForm{

	100%{
		-ms-transform:translateY(0px);
		transform: scale(1);
		opacity: 1;
	}

}
.main_title{ color: #666; text-align: center; margin-top: 80px;}
.loginLogo, .loginForm, .logo1, .logo2, .logo3 { 
	opacity: 0; 
	transform:translateY(50px);
	-webkit-transform:translateY(50px);
	-moz-transform:translateY(50px); 
	-o-transform:translateY(50px);
	-ms-transform:translateY(50px); 

}
.loginLogo {
	animation:logo .7s .4s;
	-webkit-animation:logo .7s .4s;
	-moz-animation:logo .7s .4s; 
	-o-animation:logo .7s .4s;
	-ms-animation:logo .7s .4s; 
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards; 
	-o-animation-fill-mode:forwards; 
	-ms-animation-fill-mode:forwards; 
}

.loginForm {
	animation:logoForm .7s .6s; 
	-webkit-animation:logoForm .7s .6s; 
	-moz-animation:logoForm .7s .6s; 
	-o-animation:logoForm .7s .6s; 
	-ms-animation:logoForm .7s .6s; 
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards; 
	-ms-animation-fill-mode:forwards; 
	-o-animation-fill-mode:forwards; 
}
.loginForm .button-clear {
    min-height: 40px;
    max-height: 40px;
}

.loginLogo img { width: 2rem;/*整屏宽度为4rem*/ max-width: 196px; max-height: 196px; }
.loginForm .tips1 { line-height:40px; text-indent:6px; color:red; margin-top: 12px; }
.loginForm .tips2 { text-align: center; }


.button-main{ background-color:#EB500A;  border-color: #F58B0A;
    color: #fff; }
 .button-main:hover{ color: #fff;}
/*end login.html*/

/*tab-home.html*/
.box{ width: 100%; height: 200px; overflow: hidden; z-index:2;  position:relative; }
.slider-pager{ height: 30px; bottom:0; line-height: 30px; text-align: right; padding-right: 10px;}
.slide_title{ position: absolute; bottom: 0; left: 0; height: 30px; line-height: 30px;color: #fff; font-size: 14px;  margin:0; padding-left: 20px;  width: 100%; z-index:2000;} 
.slide_title .bg{ width:100%; background-color: #000; opacity: 0.5; position: absolute; left: 0; bottom: 0;  height: 30px; z-index:-1;}
.slider-pager .slider-pager-page{ color: #fff;  }
.slider-pager .slider-pager-page i.icon{ font-size: 8px;}
.userWrap {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #DC4614;
	border-radius: 50%;
	margin-top: 2px;
	margin-left: 2px;
}
.user, .userIcon{
	display: inline-block;
	width: 30px;
	height: 30px; 
	 border-radius: 50%; 
	 cursor: pointer;
	position: absolute; 
	top:0; left: 0;
}
.user img {
	width: 30px;
	height: 30px; 
	border-radius: 50%;
}
.user {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 0.1s ease 0.4s ; 
	-webkit-transition: all 0.1s ease 0.4s ;
	-ms-transition: all 0.1s ease 0.4s ;
	-moz-transition: all 0.1s ease 0.4s ;
	-o-transition: all 0.1s ease 0.4s ;
}
.userIcon {
	z-index: 100;
	/*background-color: #EB500A;*/
	background: #EB500A url(../img/headerIcon.png) 0 0 no-repeat;
	background-size: 30px 30px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition:0.6s all; 
	-webkit-transition:0.6s all;
	-ms-transition:0.6s all;
	-moz-transition:0.6s all;
	-o-transition:0.6s all;
}
.user.ng-enter{ opacity: 0;}
.user.ng-enter-active{ opacity: 1;}
.user.ng-leave{ opacity: 0;}
.user.ng-leave-active{ opacity: 0;}

.userIcon.ng-enter{ 
	opacity: 0; 
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.userIcon.ng-enter-active{ 
	opacity: 1; 
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.userIcon.ng-leave{ 
	opacity: 1; 
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.userIcon.ng-leave-active{ 
	opacity: 0; 
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.item-thumbnail-left div .item_img{
	position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}
img.user_img{ width: 25px; height: 25px; border-radius: 50%; cursor: pointer; margin: 6px 8px 0 0; float: left;}
.author{  margin-top: 5px; overflow: hidden;  
}
.author span{ float: left; line-height: 36px;}

.zoneTop {
	height: 100px;
	background: url(../img/mineZone.png) no-repeat;
	background-size: 100% 100px;
	padding: 25px 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;

}
.zoneTop img.user_img {
	width: 50px;
	height: 50px;
	margin: 0 20px 0 0;

}
.zoneTop.author span {
	line-height: 50px;
	font-size: 20px;
	color: #fff;
}

 
.item-thumbnail-left{ padding-bottom: 5px; margin-bottom: 10px;}
.from{ position: absolute; bottom:18px; right:15px; font-size: 12px; color: #777; 
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;
    text-align: right;
}

.item.hyzx_item_body h2 {
	margin-top: 0;
	font-weight: 550;
}

/*end tab-home.html*/

/*new1/new2.html*/
.subdued i{ margin-right: 2px; font-size: 20px;}

/* content.html */
.message{line-height:25px; margin: 0; border-bottom:1px solid #ccc; text-align: right;}
.text h4{ font-weight:bold; line-height:26px; }
.icon-large{ font-size: 24px; height: 40px; line-height: 40px; padding:0 5px; color: #666; }
.content_main {
	height: 100%;
}
.text{ padding:0 10px;}
.text_content{ text-indent: 2em;  padding-top: 10px;}
.text_content img{ width:94%; max-width: 570px; margin: 0 auto; display: block; text-indent: 0em; height:auto;}

.praise_big {
	width: 1rem;
	height:1rem;
	border-radius: 50%; 
	background: #f28756;
	margin: .15rem auto;
}
.praise_big.praiseDisa {
	background: #666;
}
.praise_big>span {
	color: #fff;
    width: 100%;
    text-align: center;
    float: left;
}
.praise_big>span:nth-of-type(1) {
	line-height: .7rem;
    font-size: .6rem;
}
.praise_big>span:nth-of-type(2) {
	line-height: .2rem;
    font-size: .2rem;
}
.avatar{ padding:0 14px; overflow: hidden; height:auto; }
.avatar img{
	float: left;
	max-width: 30px;
	max-height: 30px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin:0 5px;
	margin-bottom:5px;
}
/*.text .praise { line-height: 36px; text-align: right; padding-right: 5%; position: relative;  }*/
/*.text .praise .commentCount{ position: absolute; left: 8px; top: 3px; }*/
.conAsha {
	line-height: 36px;
	padding: 0 .10rem;
}
.conAsha span {

}

#comment { 
	padding-bottom: 46px; 
}
#comment .item-avatar img{ background: url(../img/icon_m_wev8.jpg) no-repeat; }
#comment .item-avatar h2{ line-height: 34px; }
#comment .item-avatar small{ font-size:12px; color:#ccc; }
#comment .item-avatar p{
    overflow: auto;
    text-overflow: none;
    white-space: normal;
}

.refreshTips { text-align:center; font-size:1４px; line-height:50px; color:#EB500A; background-color:#fcf3d3; }
.refreshTips i{ font-size: 20px; }

.continue { text-align: center; }
.continue img { width: 100%; max-width: 462px; }

#back_btn{ min-width: 0; min-height: 0;  }
.bottom{ border-top:1px solid #ccc; box-shadow: 0px -2px 8px #ccc; position:fixed; bottom: 0; left: 0; z-index:1000; background-color: #EFEFEF; width: 100%; 
	line-height: 39px;  
	padding: 7px 0 7px 3%;

	-webkit-transform: translate(0,15px) scale(.7);
	transform: translate(0,15px) scale(.7);
	transition: 500ms;
	-webkit-transition: 500ms;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	opacity: 0;
}
.bottom.bottomShow {
	opacity: 1;
	-webkit-transform: translate(0,0) scale(1);
	transform: translate(0,0) scale(1);
}

.bottom label{background-color: #fff; width:74%; padding: 2px 10px; position:relative;float: left; display: inline-block; 
	border:1px solid #666; border-radius:15px; box-shadow: 0px 0px 3px #ccc; color: #717171; }
.bot_right{ width:23%; float: right;  text-align:center; padding:0; margin-right: 2%;}
.bot_right .col{ 
	padding:0;
	height: 30px;
}

.bottom label textarea {
	line-height: 20px;
	resize: none;
	height: 25px;
	width: 100%;
	overflow: hidden;
}
.bottom label input{ width: calc(100% - 26px); display: inline-block; height: 25px; color:#717171;}
.bottom label span { 
	width: 25px;
	height: 25px;
	background-color: #f28756;
	color: #fff;
	text-align: center;
	bottom: 2px;
	position: absolute;
	right: 2px;
	border-radius: 50%;
	line-height: 25px;
	font-size: 12px;
 }
.back{ float: left;  width: 10%; text-align: center;}
.icon-middle{ font-size: 16px;}
.bot_right a{border: 1px solid #939393; width:86%; 
	height:30px;
	line-height:28px; 
	text-align: center; 
	display: inline-block; 
	margin: 0 auto; 
	border-radius:15px; 
}
.bot_right a i{width:20px; height:20px;  font-size: 21px; line-height: 28px;}

/*.bot_right .col-50 a.praiseBorder { border: 1px solid #f28756;border-radius: 50%; width:30px; height:30px;line-height:32px; text-align: center; display: inline-block; margin-left:3px;  }
.praiseBorder i{width:20px; height:20px;  font-size: 21px; color: #f28756; }*/
.bot_right div{
	width: 86%;
    margin: 0px auto;
}
.bot_right a.send{width: 100%; border: 1px solid #eb500a;  margi n-right: 6%; color: #eb500a;}
.last{ font-style: italic; color: #aaa; text-align: right; padding-right: 10px;}
.last span{ margin: 0 5px;}
.subdued{margin: 0 8px;}
.subdued.highlight i {
	color: #EB500A;
}
.mask{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index:999;}
/*左侧菜单*/
ion-side-menu {
	position: relative;
}
.userInfo {
	width: 100%;
	background-color: #EB500A;
	padding: 15px 0;
}
.userInfo img {	
	margin: 0 auto 15px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	display: block;
}
.userInfo p {
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin: 0;
}
.sideBottom {
	position: absolute;
	bottom: 0;
	height: 46px;
	width: 100%;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
	background:  #EB500A;
}
.sideBottom .logout {
	color:  #fff;
	font-size: 14px;
	line-height: 31px;
}
.side_menu a{ font-size: 14px;}
.exit{color: #fff; text-align:right; line-height: 31px; }

#appVer{ min-height: 60px; }
#appVer img{ border-radius: 0; top: 15px; }
.aboutUsL li {
	border-left: none;
	border-right: none;
	border-top: none;
	margin: 0 10px;
}
.aboutUsL li h2,.aboutUsL li a{ line-height: 25px; font-size: 14px; }
.aboutUsL li a {
	color: #000;
}
#appVer p {}
#appVer p small{font-size:12px; line-height: 22px;}
#appVer p a {
	border: 1px solid #EB500A;
	padding: 0px 5px;
	font-size:12px;
	border-radius: 3px;
	line-height: 20px;

}
/*end 左侧菜单*/


/*tabs 样式*/
.tabs-striped .tab-item.activated,.tabs-striped .tab-item.tab-item-active{ border-color:#EB500A; }
.tabs-striped.tabs-color-main .tab-item {
  color: rgba(235, 80,10, 0.4);
  opacity: 1; }
   .tabs-striped.tabs-color-main .tab-item .badge {
    opacity: 0.4; }
 .tabs-striped.tabs-color-main .tab-item.tab-item-active, .tabs-striped.tabs-color-positive .tab-item.active, .tabs-striped.tabs-color-main .tab-item.activated {
    color: #EB500A;
    border: 0 solid #EB500A;
    border-top-width: 2px; }
.tabs-striped.tabs-color-main .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-main .tab-item.active .badge, .tabs-striped.tabs-color-main .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }

/*end  tabs 样式*/
/*网络问题提醒*/
.failTips {
	background: rgba(0,0,0,0.5);
	color: #fff;
	height: 30px;
	line-height: 30px;
	po sition: absolute; 
	top: 0;
	left: 20px;
	padding: 0 20px;
	border-radius: 10px;
	z-index: 10;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
	-o-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-moz-transition: 0.4s all;
}
/*.failTips.ng-enter{ opacity: 0;}
.failTips.ng-enter-active{ opacity: 1;}
.failTips.ng-leave{ opacity: 1;}
.failTips.ng-leave-active{ opacity: 0;}*/
.failTips.ng-enter{ opacity:0;}
.failTips.ng-enter-active{ opacity:1;}
.failTips.ng-leave{ opacity:1;}
.failTips.ng-leave-active{ opacity:0;} 
/*.failTips.ng-hide {
  height: 0px;
}
.failTips.ng-hide-add,
.failTips.ng-hide-remove {
  display: block !important;
}	*/
/*.failTips.ng-hide-remove{ opacity:0; transform: translateY(10px);}
.failTips.ng-hide-remove-active{ opacity:1; transform: translateY(0px);}
.failTips.ng-hide-add{ opacity:1; transform: translateY(0px);}
.failTips.ng-hide-add-active{ opacity:0;  transform: translateY(10px);}*/
/*end 网络问题提醒*/
/*tab-mine.html*/
.myNav{margin-bottom: 10px;background-color: rgba(255, 166, 125,0.8);}
.myNav a{ text-align: center; display: block; padding: 0;}
.myNav a span {
	display: block;
	line-height: 20px;
	color: #fff;
	font-size: 14px;
}

/*publish.html*/
.item-select .publish_type{padding: 12px 48px 11px 16px;}
.fabiao{ width: 100%; min-height: 200px; border: 1px solid #ccc; margin-top: 20px;}

.zone_list .special_list {
	padding: 8px 15px;
	margin-bottom: 10px;
}
.zone_list .zone_user_i {
	width: 35px; 
	height: 35px;
	border-radius: 50%;
	margin-top: 5px;
}
.zone_list .zone_user span {
	padding-left: 45px;
	display: block;
	line-height: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

}
.zone_user_title {
	color: #000;
}
.zone_list .zone_con {
	font-size: 16px;
	line-height: 25px;
	color: #000;
}
.zone_list .zone_com span {
	margin: 0 8px;
	line-height: 25px;
}
.zone_list .zone_com span i {
	font-size: 20px;
}
.zone_list .sub_con{
	width: 100%;
	background: #E8E8E8;
	margin: 10px 0;
}
.zone_list .sub_con .sub_con_left {
	width: 20%;
	background: #F1F1F1;
	text-align: center;
}
.zone_list .sub_con .sub_con_user_i {
	width: 25px; 
	height: 25px;
	border-radius: 50%;
	margin-top: 5px;
}
.zone_list .sub_con_user {
	display: block;
	font-size: 12px;
}
.zone_list p.sub_con_right {
	width: 80%;
	font-size: 16px;
	line-height: 54px;
	padding: 0px 10px;
	color: #000;
}
.list_con {
	background-color: #EAEAEA;
}
/*分享弹窗*/
.shareBottom {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	left: 0;
	background: #f0f0f0;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 6px 10px 5px;
	box-shadow: 0 -1px 5px #D0D0D0;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(0,84px) scale(.7);
	transform: translate(0,84px) scale(.7);
	transition: 500ms;
	opacity: 0;
}
.shareBottom.shareBottomShow {
	-webkit-transform: translate(0,0) scale(1);
	transform: translate(0,0) scale(1);
	opacity: 1;
}
.shareBottom_form {
	
}
.shareBottom_dia {
	width: 80%;
	border: 1px solid rgb(235,80,10);
	padding: 3px 24px 3px 10px;
	border-radius: 15px;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
}
.shareBottom_dia textarea {
	width: 100%;
	padding: 0;
	line-height: 20px;
	height: 20px;
	resize: none;
	color: #666;
	font-size: 12px;
	overflow-y:hidden;

}
.shareBottom_dia span {
	position: absolute;
	height: 20px;
	width: 20px;
	color: #fff;
	background: rgb(235,80,10);
	text-align: center;
	line-height: 20px;
	right: 2px;
	bottom: 3px;
	border-radius: 50%;
	font-size: 12px;

}
.shareBottom_but {
	width: 20%;
	padding-left: 3%;
	text-align: center;
}
.shareBottom_but a {
	font-size: 12px;
	display: inline-block;
	width: 94%;
	line-height: 26px;
	height: 26px;
	border: 1px solid rgb(235,80,10);
	color:rgb(235,80,10);
	border-radius: 12px;
	text-align: center;

}
.shareBottom_con{
	padding-bottom: 6px;
}
.shareBottom_con img {
	width:25%;
	height: 35px;
}
.shareBottom_con p {
	width: 75%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 30px;
	padding-left: 10px;
	font-size: 12px;
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}
.shareBottomMask {
	width: 100%;
	height: 100%;
	/*background: #000;*/
	position: absolute;
	z-index: 1;
	display: none;
	top: 0;
	left: 0;
}
.shareBottomMask.shareBottomShow{
	display: block;
}
